@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #302e3b;
  --sub-bg-color: #1e1e2a;
  --text-color: #ffffff;
  --sub-text-color: #797993;
  --button-color:#5d9592;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  background: linear-gradient(45deg, var(--bg-color) 60%, var(--sub-bg-color));
  background: linear-gradient(45deg, var(--bg-color), var(--sub-bg-color)100%);
  color: var(--text-color);
}

.menu-toggle,
input,
.menu-bar {
  display: none;
}

nav {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, var(--bg-color), var(--sub-bg-color));
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

nav div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav h2 {
  margin-right: auto;
  margin-left: 10px;
  cursor: pointer;
  /* box-shadow: 0px 0px 10px  black; */
  letter-spacing: 3px;
}

nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  transition: 0.3s;
  padding: 3px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 2px;
}

nav ul li :hover {
  border-bottom: 3px solid orangered;
  margin: auto;
}

nav ul .active {
  border-bottom: 3px solid orangered;
  /* margin: auto; */
}

.container {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: var(--sub-bg-color);
  border-radius: 5px;
  text-align: center;
}

.container h1,
.container h3,
.container p {
  text-align: center;
  padding: 10px;
}

.container h1 {
  letter-spacing: 2px;
  border-bottom: 5px solid orangered;
  /* background-color: var(--sub-text-color); */
  display: inline-block;
  border-radius: 4px;
  margin: 0 0 10px 0;
}

.container p {
  color: var(--sub-text-color);
}

.sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background-color: var(--sub-bg-color);
  width: 100%;
  height: 40%;
  border-radius: 5px;
}

.about a {
  text-decoration: none;
}

.about,
.contact {
  list-style: none;
  padding: 10px;
}

.about h3,
.contact h3 {
  display: inline-block;
  font-weight: 600;
  margin: 15px 0;
  border-bottom: 5px solid orangered;
}

.about li a,
.contact li {
  color: var(--sub-text-color);
  margin: 5px;
  transition: 0.3s;
}

.contact i {
  padding: 0 7px 0 0;
}

.about li a:hover {
  color: var(--text-color);
}

footer {
  width: 100%;
  height: 17vh;
  background-color: var(--sub-bg-color);
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}

footer p {
  padding: 5px;
  margin: 5px;
  /* color: var(--sub-text-color); */
}

footer p span {
  color: var(--sub-text-color);
  transition: 0.3s;
}

footer p span:hover {
  color: var(--text-color);
}

footer b {
  font-weight: 800;
  font-size: 18px;
}

@media screen and (max-width: 784px) {
  .sub-container {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 10px 10px 10px 30px;
  }
}

@media screen and (max-width: 800px) {
  nav > ul {
    display: none;
  }

  .menu-toggle {
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    position: relative;
  }

  .menu-toggle,
  label {
    display: block;
    cursor: pointer;
  }

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label i {
    display: block;
    font-size: 40px;
    color: white;
  }

  .menu-bar {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .menu-bar ul {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: var(--sub-text-color);
    border-radius: 0 0 5px 5px;
  }

  .menu-bar ul li {
    list-style: none;
    padding: 5px 5px;
    transition: 0.1s;
  }

  .menu-bar ul li a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
  }

  .menu-bar ul li:hover a {
    /* background-color: var(--sub-bg-color); */
    color: var(--sub-bg-color);
  }

  .menu-bar ul li .active {
    color: var(--sub-bg-color);
  }

  #menu:checked ~ .menu-bar {
    display: block;
  }
}
