@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     transition: 0.3s;
}

:root {
     --bg-color: #302e3b;
     --sub-bg-color: #1e1e2a;
     --text-color: #ffffff;
     --sub-text-color: #797993;
     --button-color: #5d9592;
}

body {
     width: 100%;
     height: 100%;
     font-family: "Be Vietnam Pro", sans-serif;
     font-style: normal;
     background: linear-gradient(-45deg, var(--bg-color)80%, var(--sub-bg-color));
     /* padding: 20px; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.menu-toggle,
input,
.menu-bar {
     display: none;
}

nav {
     width: 100%;
     height: auto;
     background: linear-gradient(45deg, var(--bg-color), var(--sub-bg-color));
     backdrop-filter: blur(10px);
     box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .7);
     color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     top: 0;
     z-index: 2;
}

nav div {

     width: 50px;
     height: 50px;
     border-radius: 50px;
     overflow: hidden;
     cursor: pointer;
}

nav div img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

nav h2 {
     margin-right: auto;
     margin-left: 10px;
     cursor: pointer;
     /* box-shadow: 0px 0px 10px  black; */
     letter-spacing: 3px;
}

nav ul {
     list-style: none;
     text-decoration: none;
     margin: 0 10px;
}

nav ul li {
     display: inline-block;
     margin: 0 5px;
     transition: .3s;
     padding: 3px;
}

nav ul li a {
     text-decoration: none;
     color: white;
     padding: 2px;
}

nav ul li :hover {
     border-bottom: 3px solid orangered;
     margin: auto;
}

nav ul .active {
     border-bottom: 3px solid orangered;
     /* margin: auto; */
}


h1 {
     width: 100%;
     color: var(--text-color);
     display: block;
     text-align: center;
     margin: 10px 0;
     padding: 20px;
     border-radius: 3px;
     background: var(--sub-bg-color);
}

.grid {
     width: 100%;
     background: linear-gradient(45deg, var(--bg-color), var(--sub-bg-color)100%);
     display: grid;
     grid-template-columns: repeat(3, 300px);
     grid-template-rows: 1fr;
     gap: 10px;
     justify-content: center;
     align-content: center;
     overflow: hidden;
}

/* .grid{
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
     align-items: center; 
     gap: 20px;

} */

.box {
     background: var(--sub-bg-color);
     padding: 20px;
     border-radius: 5px;
     overflow: hidden;
     color: var(--text-color);
     opacity: 0.8;
     min-width: 300px;
     max-width: 300px;
}

.box:hover {
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
     opacity: 1;
}

.box .img {
     width: 100%;
     height: 200px;
     border-radius: 5px;
     overflow: hidden;
}

.img img {
     width: 100%;
     object-fit: cover;
}

.ditails h2 {
     font-size: 20px;
     font-weight: 600;
     padding: 15px 0;

}

.ditails p {
     color: var(--sub-text-color);
     font-size: 15px;
     padding: 10px 0;
}

.ditails button {
     padding: 5px 10px;
     background-color: var(--button-color);
     color: var(--text-color);
     border: none;
     outline: none;
     border-radius: 3px;
     margin-right: 10px;
     font-weight: 500;
     transition: 0.2s;
     margin: 5px 0;
}

.star i {
     color: yellow;
}

.ditails button:hover {
     opacity: .7;
     box-shadow: 2px 3px 3px rgba(203, 91, 30, 0.9);

}

footer {
     width: 100%;
     height: 17vh;
     background-color: var(--sub-bg-color);
     margin-top: 10px;
     padding: 20px;
     text-align: center;
     border-radius: 5px;
     font-size: 15px;
}

footer p {
     padding: 5px;
     margin: 5px;
     color: var(--text-color);
}

footer p span {
     color: var(--sub-text-color);
     transition: 0.3s;
}

footer p span:hover {
     color: var(--text-color);
}

footer b {
     font-weight: 800;
     font-size: 18px;
}


@media screen and (max-width:1000px) {
     .grid {
          gap: 30px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          align-content: center;
          justify-content: center;
          padding: 0 10px;
     }
      /* .box {
     min-width: 300px;
     max-width: 300px;
} */
}

@media screen and (max-width:900px) {
     .grid {

          grid-template-columns: repeat(2, 300px);
          grid-template-rows: repeat(auto, 500px);
          align-content: center;
          justify-content: space-evenly;
          /* min-width: 700px; */
          gap: 10px;
     }

     .ditails h2 {
          font-size: 15px;
          font-weight: 600;
          padding: 15px 0;

     }

     .ditails p {
          color: var(--sub-text-color);
          font-size: 10px;
          padding: 10px 0;
     }
}

@media screen and (max-width:800px) {

     nav>ul {
          display: none;
     }

     .menu-toggle {
          width: 50px;
          height: 50px;
          border: 2px solid var(--text-color);
          border-radius: 5px;
          position: relative;
     }

     .menu-toggle,
     label {
          display: block;
          cursor: pointer;
     }

     label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     label i {
          display: block;
          font-size: 40px;
          color: white;
     }

     .menu-bar {
          width: 100%;
          position: fixed;
          overflow: hidden;
          top: 50px;
          z-index: 1;
          user-select: none;
     }

     .menu-bar ul {
          width: 100%;
          height: auto;
          padding: 20px;
          text-align: center;
          background-color: var(--sub-text-color);
          border-radius: 0 0 5px 5px;
     }

     .menu-bar ul li {
          list-style: none;
          padding: 5px 5px;
          transition: 0.1s;
     }

     .menu-bar ul li a {
          font-size: 15px;
          font-weight: 500;
          text-decoration: none;
          color: var(--text-color);
     }

     .menu-bar ul li:hover a {
          /* background-color: var(--sub-bg-color); */
          color: var(--sub-bg-color);
     }

     .menu-bar ul li .active {
          color: var(--sub-bg-color);
     }

     #menu:checked~.menu-bar {
          display: block;
     }

}

@media screen and (max-width:700px) {
     h1 {
          text-align: center;
     }

     .grid {

          grid-template-columns: repeat(1, 300px);
          grid-template-rows: repeat(auto, 500px);
          align-content: center;
     justify-content: center;
     }

     .ditails h2 {
          font-size: 15px;
          font-weight: 600;
          padding: 15px 0;

     }

     .ditails p {
          color: var(--sub-text-color);
          font-size: 10px;
          padding: 10px 0;
     }

}