:root {
     --day-month-color: #ffd22b;
     --secondary-day-month-color: #636363;
     --time-color: #26eb47;
     --date-color: #ff0000;
}

@font-face {
     font-family: "digital-7";
     src: url(digital-7/digital-7.ttf);
}
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
}

body {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #222222;
     background-color: #141414;
     color: white;
     cursor: pointer;
}

.digital-box {
     min-width: 70%;
     height: auto;
     border: 2px solid gray;
     border-radius: 7px;
     padding: 20px;
     margin: 10px 0 20px 0;
}

.days {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 20px 0;
}

.day {
     list-style: none;
     font-size: 20px;
     font-weight: 600;
     text-transform: capitalize;
     color: var(--secondary-day-month-color);
}

.digital-time {
     font-family: "digital-7";
     width: 100%;
     min-height: 30%;
     text-align: center;
     margin: 20px 0;
}

.time,
.colon {
     font-size: 80px;
     margin: 0 20px;
     color: #26eb47;
}

.AMPM {
     font-size: 25px;
     margin-right: 10px;
     color: #26eb47;
}

.date-box {
     font-family: "digital-7";
     width: 100%;
     min-height: 20%;
     text-align: center;
     margin: 20px 0;
}

.date-day,
.month-day,
.year-day,
.hifen {
     font-size: 40px;
     margin: 0 10px;
     color: #ff0000;
}

.months {
     width: 100%;
     margin: 20px 0;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.month {
     text-transform: capitalize;
     font-size: 20px;
     list-style: none;
     color: var(--secondary-day-month-color);
}