*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

@font-face {
     font-family: "poppins";
     src: url(Poppins/Poppins-Medium.ttf);
}

body{
     width: 100%;
     min-height: 650px;
     
     background:var(--bg-color);
     background-repeat: no-repeat;
     padding-bottom: 40px;
     font-family: "poppins";
}
#head{
     font-size: 50px;
     font-weight: 800;
     letter-spacing: 2px;
     color: transparent;
     background: linear-gradient(to right bottom , #FF43A4, #6538da);
     background-clip: text;
     margin: 20px;
     text-align: center;
}
#container{
     width: 80%;
     height:80%;
     overflow: hidden;
     margin:auto;
     background:var(--sub-bg-color);


     padding: 20px;
     border: 2px solid white;
     display: grid;
     gap: 16px;
     grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
     grid-template-rows: repeat(auto-fill,minmax(200px,1fr));

}
.box{
     height: 200px;
     border: 2px solid white;
     border-radius: 5px;
     padding-top: 30px;
     position: relative;
     background:var(--notes-color);
}
#input{
     display: block;
     width: 100%;
     height: 100%;
     outline: none;
     border: none;
     background:var(--notes-color);
     padding: 10px;
     color: white;
     font-size:16px;
     font-weight: 400;
     resize: none;
}
#exit{
     width: 30px;
     height: 30px;
     /* background:red; */
     color: red;
     position: absolute;
     top: 10px;
     right: 10px;
     font-size: 20px;
     line-height: 30px;
     text-align: center;
     cursor: pointer;
     user-select: none;
     transition: all 0.2s;
}
#exit:active{
     color: var(--color);
}
#addbtn{
     /* width: 200px; */
     height: 200px;
     border: 2px solid white;
     border-radius: 5px;
     background: var(--button-color);
     color: var(--color);
     font-size: 20px;
     font-weight: 500;
     transition: all 0.2s;
}
#addbtn:active{
     background: var(--color);
     color: var(--button-color);
}