:root {
     --bg-first: #a4a7e5;
     --bg-second: #e5dae7;
     --button-color: #04393a;
     --color: #ffffff;
     --hover-color: #654977;
     --input-box: #4c5e61;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     width: 100vw;
     height: 100vh;
     background: linear-gradient(to right bottom, var(--bg-first), var(--bg-second));
}

nav {
     width: 100%;
     height: 60px;
     padding: 5px 20px;
     background: var(--hover-color);
     display: flex;
     align-items: center;
     justify-content: space-between;
}

nav h1 {
     font-size: 35px;
     font-weight: 700;
     color: var(--color);
     letter-spacing: 2px;
     margin-left: 10px;
}

#toggle {
     width: 55px;
     height: 30px;
     background: gray;
     border: none;
     outline: none;
     border-radius: 50px;
     margin-right: 20px;
     padding: 2px;
     display: flex;
     align-items: center;
     justify-content: left;
}

#circle {
     width: 26px;
     height: 26px;
     border: none;
     outline: none;
     border-radius: 50px;
     background: #000;
}

#container {
     width: 300px;
     height: 450px;
     border: 2px solid black;
     padding: 20px;
     backdrop-filter: blur(200px);
     /* background: linear-gradient(to right bottom, var(--bg-second), var(--bg-first)); */
     border-radius: 15px;
     margin: auto;
     margin-top: 50px;
}

#output {
     width: 100%;
     height: 100px;
     border: 2px solid black;
     font-size: 50px;
     padding: 10px;
     line-height: 80px;
     text-align: end;
     background: var(--input-box);
     color: var(--color);
     border-radius: 5px;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content:flex-end;
}

#keypad {
     width: 100%;
     height: 75%;
     display: grid;
     grid-template: repeat(5, 50px) / repeat(4, 50px);
     justify-content: space-between;
     align-content: space-evenly;
     /* padding: 20px 0; */
     margin: 10px 0;
}

.keys,
.operators,
#back,
#equal,
#clear {
     border: none;
     outline: none;
     border-radius: 50px;
     user-select: none;
     cursor: pointer;
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     color: var(--color);
     background: var(--button-color);
     transition: all .1s ease;
}

.keys:hover,
.operators:hover,
#back:hover,
#equal:hover,
#clear:hover {
     box-shadow: 0 0 10px var(--hover-color);
}

.keys:active,
.operators:active,
#back:active,
#equal:active,
#clear:active {
     color: var(--color);
     background: var(--input-box);
}

#clear {
     grid-column: 1 / 3;

}
