/* :root {
    --sub-bg-color:  #101820;
    --bg-color: #101820;
    --text-color: #FEE715;
    --sub-text-color: #2F3C7E;
    --button-color:#FEE715;
} */

/* :root {
    --sub-bg-color:  #e6d8c3;
    --bg-color: #f5f5f0;
    --text-color: #767c77;
    --sub-text-color: #c2a68c;
    --button-color:#FEE715;
} */

/* :root {
    --sub-bg-color:  #fbe2e5;
    --bg-color: #fabea7;
    --text-color: #767c77;
    --sub-text-color: #9cada4;
    --button-color:#FEE715;
} */

/* :root {
    --bg-color: #0c2c47;
    --sub-bg-color: #97d3cd;
    --text-color: #e4f2ea;
    --sub-text-color: #efeae6;
} */