
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
:root{
    --bg-color:#302e3b;
    --sub-bg-color:#1e1e2a;
    --text-color:#ffffff;
    --sub-text-color:#797993;
}
body{
     width: 100%;
     height: 100vh;
     font-family: "Be Vietnam Pro", sans-serif;
     font-style: normal;
     background: var(--bg-color);
     display: flex;
     align-items: center;
     justify-content: center;
}
.container{
     width:90%;
     height: 80%;
     border: 1px solid black;
     border-radius: 5px;
     color: var(--text-color);
     box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
     padding: 10px;
     overflow-y: scroll; 
     position: relative;
}
.wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}
.container .img{
     width: 45%;
     margin-right: 10px;
}
.img img{
     width: 100%;
     object-fit: cover;
     /* margin: 20px; */
     position: relative;
}
.img h3{
     text-align: center;
}
.ditail{
     width: 100%;
     /* height: 80%; */
     border-left: 5px solid greenyellow;
     border-radius: 10px;
     padding: 10px;
     margin: 20px;
     /* position: absolute; */
     top: 20px;
     right: 20px;
}
 
@media screen and (max-width:768px) {
     .img{
          display: block;
          width: 100%;
          /* margin-left: 40%; */
     }
     .img img{
          width: 100%;
          text-align: center;
     }
     
     .map{
          display: block;
          width: 100%;
     }
     .img h3{
     text-align: center;
     font-size: 15px;
}
}
