@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

:root {
     --bg-color: #302e3b;
     --sub-bg-color: #1e1e2a;
     --text-color: #ffffff;
     --sub-text-color: #797993;
     --button-color:#5d9592;
}

body {
     width: 100%;
     height: 100%;
     font-family: "Be Vietnam Pro", sans-serif;
     font-style: normal;
     background: linear-gradient(45deg, var(--bg-color)60%, var(--sub-bg-color));
}

.menu-toggle,
input,
.menu-bar {
     display: none;
}

nav {
     width: 100%;
     height: auto;
     background: linear-gradient(45deg, var(--bg-color), var(--sub-bg-color));
     backdrop-filter: blur(10px);
     box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .7);
     color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 20px;
     position: sticky;
     top: 0;
     z-index: 2;
}

nav div {

     width: 50px;
     height: 50px;
     border-radius: 50px;
     overflow: hidden;
     cursor: pointer;
}

nav div img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

nav h2 {
     margin-right: auto;
     margin-left: 10px;
     cursor: pointer;
     /* box-shadow: 0px 0px 10px  black; */
     letter-spacing: 3px;
}

nav ul {
     list-style: none;
     text-decoration: none;
     margin: 0 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    transition: .3s;
    padding: 3px;
}

nav ul li a {
     text-decoration: none;
     color: white;
     padding: 2px;
}

nav ul li :hover {
     border-bottom: 3px solid orangered;
     margin: auto;
}

nav ul .active {
     border-bottom: 3px solid orangered;
     /* margin: auto; */
}

h1 {
     color: var(--text-color);
     text-align: center;
     margin-top: 20px;
}

.grid {
     display: grid;
     width: 95%;
     grid-template-columns: 1fr 2fr;
     grid-template-rows: 1fr;
     margin: 40px 20px;
     border-radius: 10px;
     overflow: hidden;
     row-gap: 10px;
}

.child1 {
     width: 100%;
     overflow: hidden;
     padding: 10px;
     background: var(--sub-bg-color);
     border-radius: 10px;
}

.child1 img {
     width: 100%;
     object-fit: cover;
     border-radius: 3px;
}

.child2 {
     padding: 20px;
     color: var(--text-color);
     background: var(--sub-bg-color);
     border-left: 5px solid greenyellow;
     /* box-shadow: 0 10px 10px greenyellow ; */
     border-radius: 10px;
}

.child2 h3 {
     font-size: 20px;
     font-weight: 600;
     /* letter-spacing: 2px; */
     margin: 10px 0;
}

.child2 p {
     margin: 10px 0;
}

.child2 button {
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     background: var(--button-color);
     color: var(--text-color);
     font-size: 18px;
     font-weight: 600;
     transition: 0.3s;
     margin: 20px 10px;
}

.child2 button:hover {
     box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
     opacity: 0.7;
}

@media screen and (max-width: 768px) {
     .grid {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          margin: 30px 0;
          gap: 0px;

     }

     .child2 {
          /* margin-bottom:20px; */
          padding: 0 10px;
     }

     .child2 {
          margin-bottom: 20px;
          padding: 0 10px;
     }
}

@media screen and (max-width:800px) {
     nav>ul {
          display: none;
     }

     .menu-toggle {
          width: 50px;
          height: 50px;
          border: 2px solid var(--text-color);
          border-radius: 5px;
          position: relative;
     }

     .menu-toggle,
     label {
          display: block;
          cursor: pointer;
     }

     label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     label i {
          display: block;
          font-size: 40px;
          color: white;
     }

     .menu-bar {
          width: 100%;
          position: fixed;
          overflow: hidden;
     }

     .menu-bar ul {
          width: 100%;
          height: auto;
          padding: 20px;
          text-align: center;
          background-color: var(--sub-text-color);
          border-radius: 0 0 5px 5px;
     }

     .menu-bar ul li {
          list-style: none;
          padding: 5px 5px;
          transition: 0.1s;
     }

     .menu-bar ul li a {
          font-size: 15px;
          font-weight: 500;
          text-decoration: none;
          color: var(--text-color);
     }

     .menu-bar ul li:hover a {
          /* background-color: var(--sub-bg-color); */
          color: var(--sub-bg-color);
     }

     .menu-bar ul li .active {
          color: var(--sub-bg-color);
     }

     #menu:checked~.menu-bar {
          display: block;
     }


}