@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --bg-color: #302e3b;
    --sub-bg-color: #1e1e2a;
    --text-color: #ffffff;
    --sub-text-color: #797993;
    --button-color:#5d9592;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    
}

.menu-toggle,
input,
.menu-bar {
    display: none;
}

nav {
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, var(--bg-color) 60%, var(--sub-bg-color));
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .7);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav div {

    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

nav div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav h2 {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    /* box-shadow: 0px 0px 10px  black; */
    letter-spacing: 3px;
    background: linear-gradient();
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    transition: .3s;
    padding: 3px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 2px;
}

nav ul li :hover {
    border-bottom: 3px solid orangered;
    margin: auto;
}
nav ul .active {
    border-bottom: 3px solid orangered;
    margin: auto;
}

main {
    width: 100%;
    height: 100%;
    color: white;
    padding: 30px;
    /* background:linear-gradient(45deg, #2d4a53 70%,#5a636a) ; */
    background: linear-gradient(45deg, var(--bg-color)60%, var(--sub-bg-color));
    background: linear-gradient(-45deg, var(--bg-color), var(--sub-bg-color)50%);
}

main h1 {
    display: inline-block;
    letter-spacing: 4px;
    border-bottom: 3px solid orangered;
    margin: 20px;
    margin-left: 20px;
    font-size: 60px;
}

main p {
    margin: 25px;
    width: 45%;
    font-size: 17px;
    word-spacing: 5px;
}

main button {
    margin: 5px;
    margin-left: 20px;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
    letter-spacing: 2px;
}

button:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 5px var(--text-color);
}

.scroll {
    position: absolute;
    margin: 10px;
    right: 30px;
    border-radius: 5px;
    top: 15%;
    width: 45%;
    height: 70%;
    /* border:2px solid black; */
    overflow: hidden;
    display: flex;
    flex: 1 0 100%;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.7);
}

.scroll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scrolls 30s ease 3s infinite;
}

@keyframes scrolls {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0%);
    }
}


.icon {
    margin: 20px;
}

.icon i {
    margin: 5px 10px;
    font-size: 20px;
    color: var(--sub-text-color);
    transform: .3s;
    cursor: pointer;
}

.icon i:hover {
    color: white;
}

footer {
    display: none;
}

@media screen and (max-width:800px) {
    nav>ul {
        display: none;
    }

    body {
        height: 100vh;
    }

    .scroll {
        position: static;
        width: 50%;
        height: 40%;
        margin-bottom: 30px;
    }

    main h1 {

        display: inline-block;
        margin: 10px;
        font-size: 50px;
    }

    main p {
        width: 80%;
        font-size: 13px;
    }

    main button {
        margin: 5px;
        margin-left: 20px;
        padding: 10px 5px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: var(--button-color);
        color: var(--text-color);
        font-weight: 600;
        font-size: 15px;
        transition: 0.2s;
        letter-spacing: 2px;
    }

    .menu-toggle {
        width: 50px;
        height: 50px;
        border: 2px solid var(--text-color);
        border-radius: 5px;
        position: relative;
    }

    .menu-toggle,
    label {
        display: block;
        cursor: pointer;
    }

    label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label i {
        display: block;
        font-size: 40px;
        color: white;
    }

    .menu-bar {
        width: 100%;
        position: fixed;
        overflow: hidden;
    }

    .menu-bar ul {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
        background-color: var(--sub-text-color);
        border-radius: 0 0 5px 5px;
    }

    .menu-bar ul li {
        list-style: none;
        padding: 5px 5px;
        transition: 0.1s;
    }

    .menu-bar ul li a {
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: var(--text-color);
    }

    .menu-bar ul li:hover a {
        /* background-color: var(--sub-bg-color); */
        color: var(--sub-bg-color);
    }
    .menu-bar ul li .active{
        color: var(--sub-bg-color);
    }
    .scroll{
        width:90%;
     }
    
    #menu:checked~.menu-bar {
        display: block;
    }



}
