/* #FFF2C6 --search
#FFF8DE --bg-container
#1B3C53 ,#37353E--linear */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #1b3c53;
  --sub-background: #23212b;
  /* --container:#FFF8DE ; */
  --container: #fff8de;
  --search-nav: #feee91;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    var(--background) 50%,
    var(--sub-background)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
#head {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  color: transparent;
  background: linear-gradient(to right bottom, #f875aa, #93bfc7);
  background-clip: text;
}
#container {
  width: 400px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 15px;
  background: var(--container);
}
#input-container {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background: var(--search-nav);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
#input-container input {
  height: 40px;
  flex: 1;
  border: 2px solid white;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  font-size: 20px;
}
#icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.1s;
}
#icon:active {
  color: #9bc09c;
}

#weather-container {
  width: 100%;
  height: auto;
}
#img {
  width: 100%;
  height: 120px;
  text-align: center;
}

#details {
  text-align: center;
  margin-bottom: 10px;
}
#details h2 {
  font-size: 35px;
}
#details h1 {
  font-size: 30px;
}

#lan-lat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.lan {
  text-align: center;
}
.lan p {
  font-size: 20px;
  font-weight: 500;
}
.lan span {
  font-size: 18px;
  font-weight: 400;
}

#sub-details {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: space-between;
  gap: 20px 0;
  margin-bottom: 10px;
  background: var(--search-nav);
  border-radius: 10px;
  padding: 20px 10px;
}
.details {
  width: 100%;
  text-align: center;
}
.details .icon {
  display: block;
  margin: auto;
  font-weight: 500;
}
.details span {
  font-weight: 300;
}
#copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: white;
}
#copyright a {
  font-size: 17px;
  text-decoration: underline;
  color: var(--search-nav);
}
#error {
  text-align: center;
  color: red;
  font-size: 25px;
  margin-top: 20px;
}
